<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{ title }}!
</h1>

<meu-primeiro-component></meu-primeiro-component>
<app-meu-primeiro2></app-meu-primeiro2>
<app-cursos></app-cursos> <!--como o component foi declarado na diretiva de exports no cursos.module.ts
podemos utilizar ela sem erros. também se faz necessario importar no app.module
sendo assim é possível declarar alguns componentes que não sejam visiveis para a aplicação
como se fossem coponentes privados.
-->
