<section class="property-binding">

  <article>
    <h3>Event Binding</h3>
    <button (click)="botaoClicado()"
            class="btn btn-info">
      Button binding
    </button> <!--por biaxo dos panos angular abstrai o on-click para ficar mais clean a sintaxe-->

    <!-- passando $ passamos o evento como parametro-->
    <input type="text" (keyup)="onKeyUp($event)"
           (keyup.enter)="salvar(camponInput.value)"
           (blur)="salvar(camponInput.value)"
           #camponInput> <!-- referencia ao event target utilizando #-->
    <p>Valor atual do input {{valorAtual}}</p>
    <p>Valor atual do salvo {{valorSalvo}}</p>
    <span (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOuver">passe o mouse sobre mim</span>


  </article>

  <article>
    <h3>Class Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <!-- Fazendo propertie binding com classe (criado class.alert- e utilizado logica para definicao de qual class foi selecionada)-->
        <option value="alert-primary">primary</option>
        <option value="alert-secondary">secondary</option>
        <option value="alert-success">success</option>
        <option value="alert-danger">danger</option>
        <option value="alert-warning">warning</option>
        <option value="alert-info">info</option>
        <option value="alert-light">light</option>
        <option value="alert-dark">dark</option>
      </select>
      <br>
      <div class="alert {{classe.value}}" role="alert"><!--interpolation binding-->
        Texto colorido conforme valores do combo utilizando interpolação
      </div>
      <div class="alert alert-primary" role="alert"
           [style.display]="classe.value == 'alert-primary' ? 'block' : 'none'"><!--propertie binding styleclass-->
        Texto so aparece em caso selecionado primary
      </div>
      <div class="alert" role="alert" [class.alert-primary]="classe.value=='alert-primary'"> primary</div>
      <!--propertie binding-->
      <div class="alert" role="alert" [class.alert-secondary]="classe.value=='alert-secondary'"> secondary</div>
      <div class="alert" role="alert" [class.alert-success]="classe.value=='alert-success'"> success</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value=='alert-danger'"> danger</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value=='alert-warning'"> warning</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value=='alert-info'"> info</div>
      <div class="alert" role="alert" [class.alert-light]="classe.value=='alert-light'"> light</div>
      <div class="alert" role="alert" [class.alert-dark]="classe.value=='alert-dark'"> dark</div>
    </div>
  </article>


  <article>
    <h3>Interpolation / Interpolação: valor do component para o template</h3>
    <p>String renderizada com interpolação: {{ url }}</p> <!-- Variavel na class TS -->
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p> <!--Angular tambem consegue resolver expressoes dentro da interpolacao-->
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p> <!-- expressao + get criado na class TS-->
    <p>Curso de Angular e gosto do curso: {{ cursosAngulas && getCurtirCurso() }}</p>
    <!-- expressao + get criado na class TS-->
  </article>
  <article>
    <img src="{{ urlDaImagem }}">
    <img [src]="urlDaImagem">
    <img bind-src="urlDaImagem">
    <!-- por tras dos panos os colchetes sao na verdade o bing-* -->
    <!-- quando propriedade nao existente é possível criar uma através do [attr.disable] -->
    <!-- com colchetes na propertie src o angular faz o propertie binding
         ,assim nao se faz necesario utilizacao de chaves
         ex: nas tags html <p> nao tem propriedades por
         isso se faz necessario uso de chaves -->

  </article>
</section>
